@use './variables' as v;

.nav-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;

  .menu__desktop {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    max-width: 250px;
    background-color: v.$color-background;
    box-shadow: -2px 2px 5px v.$color-boxShadow;
    padding: 1rem 1rem;
    .hide-menu {
      align-self: flex-end;
      margin-bottom: 2rem;
    }
    .login {
      margin-top: 1rem;
      a {
        display: block;
        color: v.$color-mainText;
        text-decoration: none;
        text-align: center;
        padding: 0.8rem 0;
        margin-bottom: 1rem;
        width: 100%;
        &:last-of-type {
          border: 1px solid v.$color-mainText;
          border-radius: 0.5rem;
          &:hover {
            color: v.$color-background;
            background-color: v.$color-buttonBackground;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 955px) {
  .nav-container {
    .menu__mobile {
      display: none;
    }
    .menu__desktop {
      width: 85%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .menu-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .login__desktop {
        a {
          color: v.$color-mainText;
          text-decoration: none;
          text-align: center;
          padding: 0.5rem 0.8rem;
          margin-left: 2rem;
          &:last-of-type {
            border: 1px solid v.$color-mainText;
            border-radius: 0.5rem;
            &:hover {
              color: v.$color-background;
              background-color: v.$color-buttonBackground;
            }
          }
        }
      }
    }
  }
}
