// customized scss property 
$size-mobile: 375px;
$size-desktop: 1248px;
$size-mainText: 18px;

$color-background: hsl(0, 0%, 98%);
$color-mainText: hsl(0, 0%, 41%);
$color-title: hsl(0, 0%, 8%);
$color-buttonBackground: hsl(0, 0%, 8%);
$color-boxShadow: rgba(0, 0, 0, 0.8);

@font-face {
  font-family: Epilogue;
  src: url(../assets/font/Epilogue-VariableFont_wght.ttf);
}
